:root {
  --HEADER-FONT: "Playfair Display", serif;
  --BODY-FONT: "Source Sans Pro", sans-serif;
  --HERO-TEXT-COLOR: rgb(66, 52, 25);
  --BOOKS-HEADER-COLOR: rgb(180, 123, 78);
  --PAGE-BG-COLOR: rgb(255, 248, 238);
  --PAGE-ACCENT: rgb(226, 209, 183);
  --CARD-BG-COLOR: rgb(252, 249, 244);
  --ABOUT-BG-COLOR: rgb(255, 239, 220);
}

html {
  background-color: var(--PAGE-BG-COLOR);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: var(--HEADER-FONT);
}

.nowrap {
  white-space: nowrap;
}

header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: burlywood;
  background-image: url(img/hatter.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 2rem;
  column-gap: 2rem;
}

header h1 {
  line-height: 150%;
  font-size: 1.75rem;
}

header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  column-gap: 1rem;
}

header ul li a:any-link {
  color: white;
  text-decoration: none;
  font-family: var(--BODY-FONT);
  font-weight: 800;
  font-size: 0.65rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  border: 1.5px solid white;
}

header ul li a:hover {
  color: rgb(209, 171, 120);
  background-color: white;
}

.hero {
  text-align: center;
  margin: 1rem 0;
  border-radius: 0.5rem;
  background-color: bisque;
  color: var(--HERO-TEXT-COLOR);
  padding: 5rem 0;
}

.hero h2 {
  font-family: var(--BODY-FONT);
  font-weight: 400;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.books {
  text-align: center;
  padding: 1rem;
}

.books h1 {
  color: var(--BOOKS-HEADER-COLOR);
  margin: 1.5rem 0;
}

.books h2 {
  font-size: 1rem;
  animation: pulse 1.75s ease-in-out 0.1s infinite alternate forwards;
  margin-bottom: 1rem;
}

.book-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
  color: var(--HERO-TEXT-COLOR);
}

.book-container div {
  width: 30%;
  background-color: var(--CARD-BG-COLOR);
  border: 0.5px solid var(--PAGE-ACCENT);
  border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.book-container div h3 {
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

.book-container :is(div:hover, div:focus) {
  transform: translateY(-5px);
}

.book-container div img {
  max-width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.book-container div p {
  font-family: var(--BODY-FONT);
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.about {
  text-align: center;
  color: var(--HERO-TEXT-COLOR);
  background-color: var(--ABOUT-BG-COLOR);
  padding: 4rem;
}

.about h1 {
  color: var(--BOOKS-HEADER-COLOR);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.about p {
  font-family: var(--BODY-FONT);
  font-size: 0.7rem;
}

.contact {
  max-width: 70%;
  margin: 3rem auto;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.05), 5px 0 15px rgba(0, 0, 0, 0.05),
    0 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  padding: 1.5rem;
}

.contact h1 {
    text-align: center;
    color: var(--HERO-TEXT-COLOR);
    margin-bottom: 1.5rem;
}

.contact .reviews p {
    width: max-content;
    font-family: var(--BODY-FONT);
    font-size: 0.7rem;
    padding: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.075);
    border-radius: 0.5rem;
}

#contact-header {
    margin-top: 1rem;
}

form fieldset {
    border: none;
}

label, input, textarea, button {
    display: block;
    font-family: var(--BODY-FONT);
    margin-bottom: 0.75rem;
    font-size: 0.85rem;
    font-weight: 400;
}

label, input, button {
    width: 100%
}

input, textarea, button {
    border-radius: 0.5rem;
    min-height: 2.5rem;
    border: 2px solid var(--PAGE-ACCENT)
}

button {
    margin-bottom: 0;
    border: none;
    background-color: rgb(218, 167, 101);
    color: white;
    transition: all 0.25s ease-in-out;
}

button:hover, button:focus {
    background-color: rgb(201, 139, 92);
}

textarea {
    padding: 0.5rem;
    resize: none;
    width: 100%;
}

label::after {
    content: '👇'
}

.bold {
    font-weight: 600;
}

footer {
    background-image: url(img/hatter.png);
    background-size: cover;
    background-color: burlywood;
    text-align: center;
    color: white;
    padding: 2rem 0;
}

footer p {
    font-size: 0.9rem;
}

footer h3 {
    font-weight: 300;
    font-size: 0.9rem;
}

.social-container {
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
}

.social-container div h3, .social-container div a, footer p {
    font-family: var(--BODY-FONT);
    color: white;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.social-container div :is(a:hover, a:focus) {
  opacity: 0.8;
}

.inner-container {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

footer img {
    max-height: 3rem;
}

@keyframes pulse {
  from {
    color: var(--BOOKS-HEADER-COLOR);
    transform: scale(1);
  }

  to {
    color: red;
    transform: scale(1.25);
  }
}

@media screen and (max-width: 625px) {
    header {
        flex-flow: column nowrap;
        align-content: center;
        text-align: center;
        row-gap: 1rem;
    }

    header ul {
        justify-content: center;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 420px) {
    .contact .reviews p {
        width: auto;
    }
}


